.interests {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr 0.75fr;
  grid-template-rows: 1;
  padding: 10px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
}

.interests-image {
  height: 75px;
  width: 75px;
}

.text-container {
  font-size: 11px;
  justify-content: center;
  padding: 0px 5px 30px 15px;
  border-right: 1px solid lightgrey;
  /* position: relative; */
}

.interests-title {
  display: flex;
  padding-bottom: 4px;
  font-weight: bold;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 10px;
}

.interests-stock-price {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 3px 10px;
}

#last-stock {
  border-bottom: none;
}

.interests-price {
  color: green;
  font-weight: bold;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
