main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1;
}

h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  padding: 15px 10px 10px 0;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

h3 {
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
}

.byline {
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  color: #999
}

.main-article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 10px;
  border-right: 1px solid #e2e2e2;
}

.main-article ul {
  list-style: disc;
  padding: 5px 15px;
}

.main-article li {
  font-size: 12px;
  margin-bottom: 10px;
}

.subarticle {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.subarticles {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.subarticle-title {
  padding-top: 15px;
}

.subarticle p {
  font-size: 12px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#su{
  padding-left: 20px;
}

.article-sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.side-article {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 5px;
}

.side-article-story {
  font-size: 12px;
  padding: 10px 0px;
}

.article-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
}

h2.side-article-title {
  font-size: 16px;
  padding: 5px 0;
}

.office {
  padding-top: 5px;
}

.operations {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
}

.opinions {
  font-size: 20px;
  margin: 0;
  padding-bottom: 5px;
  font-weight: 900;
}

.table-of-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
}

.four {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-right: 1px solid #e2e2e2;
}

.three {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 5px;
}

.table-story {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e2e2e2;
  justify-content: center;
}

.story-title {
  font-size: 12px;
  font-weight: bold;
  display: block;
}

#end {
  border-bottom: none;
}

.article-subtitle {
  font-style: italic;
}

.author {
  text-transform: uppercase;
}

.comments {
  font-size: 12px;
  color: #326891
}

#comment {
  padding-bottom: 20px;
}
